<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" id="name" />
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input name="lastname" id="lastname" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>
  <div class="form-group">
    <label for="fiscalcode">Fiscalcode</label>
    <input name="fiscalcode" id="fiscalcode" />
  </div>
  <div class="form-group">
    <label for="province">Province</label>
    <input name="province" id="province" />
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input name="phone" id="phone" />
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" name="age" id="age" />
  </div>
  <div class="form-group form-footer">
    <button class="bnt-save">SAVE</button>
  </div>
</form>
