.main{
    width:98%;
    margin:auto;
    vertical-align: top;
  }
  .users{
    float: left;
    width: 50%;
  }
  .userDetail{
    float: left;
    width:50%;
  }
.bnt-save{
  background-color: green;
  color: #fff;
  font-weight: bold;
}
.bnt-reset{
  background-color: blue;
  color: #fff;
  font-weight: bold;
}