td {
    background-color:silver;
    color: green;
    padding:5px;
    border: 1px solid #fff;
  }

  button.delete {
    background: white;
    color: red;
  }
  button.update {
    background: white;
    color: blue;
  }